auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9095

common:
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
  path_prefix: /loki

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

ingester:
  wal:
    enabled: true
    dir: /loki/wal
  lifecycler:
    ring:
      kvstore:
        store: inmemory
  chunk_idle_period: 5m
  max_chunk_age: 1h

compactor:
  working_directory: /loki/compactor
  shared_store: filesystem

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks


limits_config:
  enforce_metric_name: false
  max_entries_limit_per_query: 10000

chunk_store_config:
  max_look_back_period: 168h

table_manager:
  retention_deletes_enabled: false
